<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>692779936097-h6p37guuiv1p7lervis58f4liirtic68.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.692779936097-h6p37guuiv1p7lervis58f4liirtic68</string>
	<key>API_KEY</key>
	<string>AIzaSyAU9pMUVOjdhWRg23QQCLWBay86qeGhaOk</string>
	<key>GCM_SENDER_ID</key>
	<string>692779936097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Advocate</string>
	<key>PROJECT_ID</key>
	<string>hello-advocate</string>
	<key>STORAGE_BUCKET</key>
	<string>hello-advocate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:692779936097:ios:7e9599ead06d32dd983d20</string>
	<key>DATABASE_URL</key>
	<string>https://hello-advocate.firebaseio.com</string>
</dict>
</plist>